In [5]:
import pandas as pd
import warnings
from pandas import Series, DataFrame
warnings.filterwarnings("ignore")

In [6]:
data_offline = pd.read_csv('ccf_offline.csv')
data_online = pd.read_csv('ccf_online.csv')

In [1]:
def get_discount_rate(s):
    if s != 'null':
        if len(s.split(':')) > 1:
            return (float(s.split(':')[0]) - float(s.split(':')[1])) / float(
                s.split(':')[0])
        elif s == 'fixed':
            return s
        else:
            return float(s)
    else:
        return 'null'


def get_coupon_requirement(s):
    if s != 'null':
        if len(s.split(':')) > 1:
            return s.split(':')[0]
        else:
            return 'null'
    else:
        return 'null'


def is_direct_use(s):
    if (len(s.split(':')) == 1) & (s != 'null'):
        return 1
    else:
        return 0


def get_week_day(s):
    if s != 'null':
        date_time = datetime.datetime.strptime(s, '%Y%m%d')
        return date_time.weekday()
    else:
        return 'null'


def get_month_day(s):
    if s != 'null':
        return int(s[-2:])
    else:
        return 'null'

In [79]:
import time, datetime


def get_coupon_feature_online(input_data):
    a = input_data[['Merchant_id', 'Coupon_id']]
    mask = input_data['Coupon_id'] != 'null'
    num_coupon = a[mask].groupby(['Merchant_id']).count().reset_index()
    num_coupon.columns = ['Merchant_id', 'Tot_coupon_sent']
    input_data1 = pd.merge(
        input_data, num_coupon, on='Merchant_id', how='left')
    mask2 = (input_data1['Date'] != 'null') & (input_data1['Coupon_id'] !=
                                               'null')
    b = input_data1[mask2].groupby(
        ['Merchant_id'])['Action'].count().reset_index()
    b.columns = ['Merchant_id', 'Num_coupon_used']
    input_data2 = pd.merge(input_data1, b, on='Merchant_id', how='left')
    l = input_data2[['Merchant_id', 'Coupon_id', 'Action']].groupby(
        ['Merchant_id', 'Coupon_id']).count().reset_index()
    mask3 = l['Coupon_id'] != 'null'
    l2 = l[mask3]
    l2['num_type'] = l2['Coupon_id'].apply(lambda x: int(x > 0))
    l3 = l2.groupby('Merchant_id')['num_type'].count()
    l4 = pd.DataFrame(l3).reset_index()
    input_data3 = pd.merge(input_data2, l4, on='Merchant_id', how='left')
    couponmask = (input_data3['Date'] != 'null') & (input_data3['Coupon_id'] !=
                                                    'null')
    coupon_used = input_data3[couponmask]
    input_data3['coupon_requirement'] = input_data3['Discount_rate'].map(
        get_coupon_requirement)
    input_data3['equivalent_discount'] = input_data3['Discount_rate'].map(
        get_discount_rate)
    input_data3['direct_use_coupon'] = input_data3['Discount_rate'].map(
        is_direct_use)
    input_data3['Date_received_week'] = input_data3['Date_received'].map(
        get_week_day)
    input_data3['Date_received_month'] = input_data3['Date_received'].map(
        get_month_day)
    output = input_data3[input_data3['Coupon_id'] != 'null']
    output.drop(['Discount_rate', 'Date_received', 'Date'], axis=1, inplace=True)
    return output

In [80]:
a=get_coupon_feature(data_online)

In [81]:
a.head()

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date,Tot_coupon_sent,Num_coupon_used,num_type,coupon_requirement,equivalent_discount,direct_use_coupon,Date_received_week,Date_received_month
0,13740231,18907,2,100017492,500:50,20160513,null,52552.0,10927.0,152.0,500,0.9,0,4,13
73,15137031,25104,2,100120354,150:50,20160613,null,31406.0,3670.0,176.0,150,0.666667,0,0,13
74,15137031,44706,2,100071973,50:5,20160317,null,1703.0,321.0,12.0,50,0.9,0,3,17
114,15137031,29007,2,100028000,30:1,20160405,null,260.0,22.0,4.0,30,0.966667,0,1,5
115,15137031,18907,2,100086665,300:50,20160406,null,52552.0,10927.0,152.0,300,0.833333,0,2,6

## For offline data

In [82]:
def get_coupon_feature_offline(input_data):
    a = input_data[['Merchant_id', 'Coupon_id']]
    mask = input_data['Coupon_id'] != 'null'
    num_coupon = a[mask].groupby(['Merchant_id']).count().reset_index()
    num_coupon.columns = ['Merchant_id', 'Tot_coupon_sent']
    input_data1 = pd.merge(input_data, num_coupon, on='Merchant_id')
    mask2 = (input_data1['Date'] != 'null') & (input_data1['Coupon_id'] !=
                                                 'null')
    b = input_data1[mask2].groupby(
        ['Merchant_id'])['Coupon_id'].count().reset_index()
    b.columns = ['Merchant_id', 'Num_coupon_used']
    input_data2 = pd.merge(input_data1, b, on='Merchant_id')
    l = input_data2[['Merchant_id', 'Coupon_id']].groupby(
        ['Merchant_id', 'Coupon_id']).count().reset_index()
    mask3 = l['Coupon_id'] != 'null'
    l2 = l[mask3]
    l2['num_type'] = l2['Coupon_id'].apply(lambda x:int(x>0))
    l3 = l2.groupby('Merchant_id')['num_type'].count()
    l4 = pd.DataFrame(l3).reset_index()
    input_data3 = pd.merge(input_data2, l4, on='Merchant_id')
    null_mask = input_data3['Distance'] != 'null'
    input_data4 = input_data3[null_mask]
    input_data4['Distance'] = input_data4['Distance'].map(lambda x: float(x))
    input_data5 = pd.DataFrame(
        input_data4.groupby('Merchant_id')['Distance'].mean()).reset_index()
    input_data6 = pd.merge(input_data3, input_data5, on='Merchant_id')
    input_data6 = input_data6.rename(columns={'Distance_y': 'Avg_Distance'})
    input_data6['equivalent_discount'] = input_data6['Discount_rate'].map(
        get_discount_rate)
    input_data6['direct_use_coupon'] = input_data6['Discount_rate'].map(
        is_direct_use)
    input_data6['coupon_requirement'] = input_data6['Discount_rate'].map(
        get_coupon_requirement)
    input_data6['Date_received_week'] = input_data6['Date_received'].map(
        get_week_day)
    input_data6['Date_received_month'] = input_data6['Date_received'].map(
        get_month_day)
    output=input_data6[input_data6['Coupon_id']!='null'] 
    output.drop(['Discount_rate', 'Date_received', 'Date'], axis=1, inplace=True)
    return output

In [83]:
b=get_coupon_feature_offline(data_offline)

In [84]:
b.head()

,User_id,Merchant_id,Coupon_id,Distance_x,Tot_coupon_sent,Num_coupon_used,num_type,Avg_Distance,equivalent_discount,direct_use_coupon,coupon_requirement,Date_received_week,Date_received_month
1,1439408,2632,8591,0,43,4,2,1.540000,0.95,0,20,2,17
2,1439408,2632,1078,0,43,4,2,1.540000,0.95,0,20,5,19
3,1439408,2632,8591,0,43,4,2,1.540000,0.95,0,20,0,13
5,1439408,2632,8591,0,43,4,2,1.540000,0.95,0,20,0,16
6,2082569,2632,1078,3,43,4,2,1.540000,0.95,0,20,4,25
7,2082569,2632,8591,3,43,4,2,1.540000,0.95,0,20,1,23
8,5162810,2632,8591,10,43,4,2,1.540000,0.95,0,20,3,4
10,5788670,2632,1078,null,43,4,2,1.540000,0.95,0,20,5,16
11,5788670,2632,8591,null,43,4,2,1.540000,0.95,0,20,2,16
12,6216806,2632,8591,0,43,4,2,1.540000,0.95,0,20,3,28
14,6216806,2632,1078,0,43,4,2,1.540000,0.95,0,20,6,28
15,5925919,2632,8591,0,43,4,2,1.540000,0.95,0,20,5,14
16,5925919,2632,1078,0,43,4,2,1.540000,0.95,0,20,1,14
18,7207738,2632,8591,0,43,4,2,1.540000,0.95,0,20,3,2
20,4829295,2632,8591,0,43,4,2,1.540000,0.95,0,20,0,1
22,4829295,2632,1078,0,43,4,2,1.540000,0.95,0,20,3,3
26,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,3,14
27,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,4,18
28,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,0,1
30,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,1,2
31,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,1,26
32,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,3,24
33,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,3,28
37,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,0,22
38,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,4,19
39,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,3,18
40,7283224,2632,1078,1,43,4,2,1.540000,0.95,0,20,4,27
41,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,0,14
42,7283224,2632,8591,1,43,4,2,1.540000,0.95,0,20,1,1
44,2846656,2632,8591,null,43,4,2,1.540000,0.95,0,20,4,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661762,6012966,2505,8939,0,2,2,1,0.705882,0.9,0,100,2,10
1661774,7183761,7744,13468,0,1,1,1,0.000000,0.9,0,10,4,3
1661775,6423033,8701,10346,1,3,1,1,2.400000,0.95,0,20,6,8
1661776,4338858,8701,10346,9,3,1,1,2.400000,0.95,0,20,6,5
1661778,7196159,8701,10346,0,3,1,1,2.400000,0.95,0,20,5,21
1661785,2108729,377,1868,0,2,1,1,0.428571,0.75,0,20,5,16
1661793,6236771,377,1868,1,2,1,1,0.428571,0.75,0,20,6,17
1661796,5527230,3239,5790,0,11,10,1,0.000000,0.9,0,10,0,18
1661797,5527230,3239,5790,0,11,10,1,0.000000,0.9,0,10,2,20
1661798,5527230,3239,5790,0,11,10,1,0.000000,0.9,0,10,4,22
1661801,5527230,3239,5790,0,11,10,1,0.000000,0.9,0,10,5,30
1661803,5527230,3239,5790,0,11,10,1,0.000000,0.9,0,10,1,3
1661804,5527230,3239,5790,0,11,10,1,0.000000,0.9,0,10,0,25
1661805,5527230,3239,5790,0,11,10,1,0.000000,0.9,0,10,5,23
1661806,5527230,3239,5790,0,11,10,1,0.000000,0.9,0,10,3,21
1661815,5527230,3239,5790,0,11,10,1,0.000000,0.9,0,10,0,25
1661820,5527230,3239,5790,0,11,10,1,0.000000,0.9,0,10,2,20
1661829,5536320,3239,5790,0,11,10,1,0.000000,0.9,0,10,5,30
1661831,5617470,4455,5640,0,2,2,1,0.000000,0.95,0,20,1,24
1661833,5617470,4455,5640,0,2,2,1,0.000000,0.95,0,20,2,1
1661835,5128218,2820,5522,null,2,1,1,1.000000,0.95,0,20,5,14
1661838,3795635,2820,5522,1,2,1,1,1.000000,0.95,0,20,2,18
1661843,4159121,459,9164,0,2,1,1,0.000000,0.95,1,null,6,27
1661846,5120759,459,9164,0,2,1,1,0.000000,0.95,1,null,5,11
1661855,3206909,8601,12706,0,1,1,1,0.000000,0.75,0,20,0,23
1661860,6933779,3652,3481,0,2,1,1,0.000000,0.95,0,20,3,19
1661862,6933779,3652,3481,0,2,1,1,0.000000,0.95,0,20,6,29
1661866,1755308,5895,9782,0,1,1,1,0.000000,0.95,1,null,0,7
1661879,1011663,7456,3477,0,2,1,1,0.000000,0.95,0,20,5,4
1661883,1011663,7456,3477,0,2,1,1,0.000000,0.95,0,20,6,15