In [16]:
import pandas as pd
import warnings
from pandas import Series, DataFrame
warnings.filterwarnings("ignore")

In [2]:
data_offline = pd.read_csv('ccf_offline_stage1_train.csv')
data_online = pd.read_csv('ccf_online_stage1_train.csv')

In [3]:
data_online.describe()

            User_id   Merchant_id        Action
count  1.142983e+07  1.142983e+07  1.142983e+07
mean   1.074683e+07  3.436686e+04  2.348193e-01
std    4.137712e+06  1.441243e+04  5.426314e-01
min    4.000000e+00  1.000100e+04  0.000000e+00
25%    1.019827e+07  2.090100e+04  0.000000e+00
50%    1.196970e+07  3.420000e+04  0.000000e+00
75%    1.373506e+07  4.741500e+04  0.000000e+00
max    1.550000e+07  6.000000e+04  2.000000e+00

In [4]:
data_offline.shape

(1754884, 7)

In [5]:
data_online.shape

(11429826, 7)

In [6]:
data_online[:5]

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,20160513,null
1,13740231,34805,1,null,null,null,20160321
2,14336199,18907,0,null,null,null,20160618
3,14336199,18907,0,null,null,null,20160618
4,14336199,18907,0,null,null,null,20160618

In [47]:
a = data_online[['Merchant_id', 'Coupon_id']]
mask = data_online['Coupon_id'] != 'null'

In [48]:
num_coupon = a[mask].groupby(['Merchant_id']).count().reset_index()

In [49]:
num_coupon.columns = ['Merchant_id', 'Tot_coupon_sent']

In [75]:
data_online1 = pd.merge(data_online, num_coupon, on='Merchant_id', how='left')

In [76]:
mask2 = (data_online1['Date'] != 'null') & (data_online1['Coupon_id'] !=
                                            'null')

In [77]:
b = data_online1[mask2].groupby(
    ['Merchant_id'])['Action'].count().reset_index()
b.columns = ['Merchant_id', 'Num_coupon_used']

In [79]:
data_online1.shape

(11429826, 8)

In [80]:
data_online2 = pd.merge(data_online1, b, on='Merchant_id', how='left')

In [81]:
l = data_online2[['Merchant_id', 'Coupon_id', 'Action']].groupby(
    ['Merchant_id', 'Coupon_id']).count().reset_index()
mask3 = l['Coupon_id'] != 'null'
l2 = l[mask3]

In [82]:
def num_type(s):
    if s > 0:
        return 1

In [83]:
l2['num_type'] = l2['Coupon_id'].apply(num_type)

In [84]:
l3 = l2.groupby('Merchant_id')['num_type'].count()
l4 = pd.DataFrame(l3).reset_index()
data_online3 = pd.merge(data_online2, l4, on='Merchant_id', how='left')

In [73]:
# data_online3.to_csv('data_online3.csv')

In [37]:
couponmask = (data_online3['Date'] != 'null') & (data_online3['Coupon_id'] !=
                                                 'null')
coupon_used = data_online3[couponmask]

In [93]:
data_online3.shape

(11429826, 10)

In [147]:
def get_coupon_requirement(s):
    if s != 'null':
        if len(s.split(':')) > 1:
            return s.split(':')[0]
        else:
            return 'null'
    else:
        return 'null'

In [148]:
data_online3['coupon_requirement'] = data_online3['Discount_rate'].map(
    get_coupon_requirement)

In [149]:
def get_discount_rate(s):
    if s != 'null':
        if len(s.split(':')) > 1:
            return (float(s.split(':')[0]) - float(s.split(':')[1])) / float(
                s.split(':')[0])
        elif s == 'fixed':
            return s
        else:
            return float(s)
    else:
        return 'null'

In [150]:
data_online3['equivalent_discount'] = data_online3['Discount_rate'].map(
    get_discount_rate)

In [156]:
def is_direct_use(s):
    if (len(s.split(':')) == 1) & (s != 'null'):
        return 1
    else:
        return 0


data_online3['direct_use_coupon'] = data_online3['Discount_rate'].map(
    is_direct_use)

In [215]:
import time, datetime


def get_week_day(s):
    if s != 'null':
        date_time = datetime.datetime.strptime(s, '%Y%m%d')
        return date_time.weekday()
    else:
        return 'null'

In [216]:
def get_month_day(s):
    if s != 'null':
        return int(s[-2:])
    else:
        return 'null'

In [217]:
data_online3['Date_received_week'] = data_online3['Date_received'].map(
    get_week_day)
data_online3['Date_received_month'] = data_online3['Date_received'].map(
    get_month_day)

In [219]:
data_online3.sample(10).shape

(10, 15)

## For offline data

In [24]:
a = data_offline[['Merchant_id', 'Coupon_id']]
mask = data_offline['Coupon_id'] != 'null'
num_coupon = a[mask].groupby(['Merchant_id']).count().reset_index()
num_coupon.columns = ['Merchant_id', 'Tot_coupon_sent']
data_offline1 = pd.merge(data_offline, num_coupon, on='Merchant_id')

In [25]:
mask2 = (data_offline1['Date'] != 'null') & (data_offline1['Coupon_id'] !=
                                             'null')
b = data_offline1[mask2].groupby(
    ['Merchant_id'])['Coupon_id'].count().reset_index()
b.columns = ['Merchant_id', 'Num_coupon_used']
data_offline2 = pd.merge(data_offline1, b, on='Merchant_id')
data_offline2[:5]

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,Tot_coupon_sent,Num_coupon_used
0,1439408,2632,null,null,0,null,20160217,43,4
1,1439408,2632,8591,20:1,0,20160217,null,43,4
2,1439408,2632,1078,20:1,0,20160319,null,43,4
3,1439408,2632,8591,20:1,0,20160613,null,43,4
4,1439408,2632,null,null,0,null,20160516,43,4

In [26]:
l = data_offline2[['Merchant_id', 'Coupon_id']].groupby(
    ['Merchant_id', 'Coupon_id']).count().reset_index()
mask3 = l['Coupon_id'] != 'null'
l2 = l[mask3]
l2['num_type'] = l2['Coupon_id'].apply(num_type)
l3 = l2.groupby('Merchant_id')['num_type'].count()
l4 = pd.DataFrame(l3).reset_index()
data_offline3 = pd.merge(data_offline2, l4, on='Merchant_id')

In [27]:
null_mask = data_offline3['Distance'] != 'null'


def to_float(s):
    return float(s)


data_offline4 = data_offline3[null_mask]
data_offline4['Distance'] = data_offline4['Distance'].map(to_float)
data_offline5 = pd.DataFrame(
    data_offline4.groupby('Merchant_id')['Distance'].mean()).reset_index()
data_offline6 = pd.merge(data_offline3, data_offline5, on='Merchant_id')

In [28]:
data_offline6 = data_offline6.rename(columns={'Distance_y': 'Avg_Distance'})

In [220]:
data_offline6['equivalent_discount'] = data_offline6['Discount_rate'].map(
    get_discount_rate)
data_offline6['direct_use_coupon'] = data_offline6['Discount_rate'].map(
    is_direct_use)
data_offline6['coupon_requirement'] = data_offline6['Discount_rate'].map(
    get_coupon_requirement)
data_offline6['Date_received_week'] = data_offline6['Date_received'].map(
    get_week_day)
data_offline6['Date_received_month'] = data_offline6['Date_received'].map(
    get_month_day)

In [221]:
data_offline6.sample(5)

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance_x,Date_received,Date,Tot_coupon_sent,Num_coupon_used,num_type,Avg_Distance,equivalent_discount,direct_use_coupon,coupon_requirement,Date_received_week,Date_received_month
821595,4205712,6434,10050,50:5,0,20160125,null,16529,186,3,4.974691,0.9,0,50,0,25
138578,3941189,3381,11951,200:20,1,20160128,null,122834,2487,8,2.713991,0.9,0,200,3,28
650323,6115489,760,3811,30:5,0,20160326,null,44976,3140,9,1.225028,0.833333,0,30,5,26
799257,3703657,6424,1315,100:10,10,20160130,null,8072,13,2,4.422733,0.9,0,100,5,30
191838,2038615,450,null,null,0,null,20160507,63042,1461,19,3.512198,null,0,null,null,null